/* All Codes */

*{
    margin: 0px;
    padding: 0px;
    font-family: "Playfair Display", serif;
    font-style: normal;
}
/*
body{
    background-color: #0a9e79;
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}
*/

/*

---Main Things---

Koyu lacivert: #2B3A67
Şarap bordosu: #732C38
Koyu kahverengi: #4A3F35
Krem rengi: #F5E1DA
Koyu zeytin yeşili: #556B2F
Gül kurusu: #C08081
Fildişi Beyazı: #FFFFF0

background-color: #0a9e79;

font-family: "Funnel Display", sans-serif;

font-family: "Bebas Neue", sans-serif;

font-family: "Open Sans", sans-serif;

font-family: "Inter", sans-serif;

font-family: "Playfair Display", serif;

<i class="fa-solid fa-caret-down"></i>
<i class="fa-solid fa-house"></i>
<i class="fa-duotone fa-solid fa-user"></i>
<div id="navbar"></div>
<div id="solmenu"></div>
<div id="content"></div>
<div id="footer"></div>

*/

/* All */

.font_family_funnel_display{
    font-family: "Funnel Display", sans-serif;
}

.font_family_playfair_display{
    font-family: "Playfair Display", serif;
}

.font_family_inter{
    font-family: "Inter", sans-serif;
}

.font_family_babas_neue{
    font-family: "Bebas Neue", sans-serif;
}

.font_family_open_sans{
    font-family: "Open Sans", sans-serif;
}

.font_family_source_sans_3{
    font-family: "Source Sans 3", sans-serif;
}

.font_family_montserrat{
    font-family: "Montserrat", sans-serif;
}

#all{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#head{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 100%;
    background-image:
    linear-gradient(rgba(15, 0, 0, 0.5),rgba(15, 0, 0, 0.5)),
    url(andreas-gucklhorn-mawU2PoJWfU-unsplash.jpg);
    background-position: 50% 32%;
    background-repeat: no-repeat;
    background-size: cover;
}

#body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#foot{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    text-align: center;
}

/* Head */

.navbar{
    width: 1200px;
    margin: 30px 0px 0px 0px;
}

.navbar div a, .navtext a{
    text-align: center;
    text-decoration: none;
    color: white;
}

.left{
    float: left;
}

.right{
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
}

.navbar-part-logo{
    margin: 13px 30px;
    font-size: 26px;
}

.navbar-part-right{
    padding: 20px 15px;
    font-size: 15px;
}

.navbar-part-6{
    margin: 0px 0px 0px 10px;
    padding: 13px 24px;
    outline: solid 1px rgb(255, 255, 255);
    border-radius: 8px;
    font-size: 14px;
}

.navbar-part-6-active{
    outline: solid 1px rgb(222, 24, 61);
    background-color: rgb(222, 24, 61);
    transition: 0.2s linear;
}

.navbar-part-6-passive{
    outline: solid 1px rgb(255, 255, 255);
    transition: 0.2s linear;
}

.navtext{
    width: 800px;
    margin: 60px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.head-write{
    font-weight: bold;
    font-size: 70px;
    color: white;
    margin: 0px 0px 30px 0px;
}

.get-started{
    letter-spacing: 0.5px;
    padding: 17px 40px;
    font-size: 18px;
    background-color: rgb(222, 24, 61);
    border-radius: 8px;
}

.get-started-active{
    background-color: rgb(196, 22, 54);
    transition: 0.3s linear;
}

.get-started-passive{
    background-color: rgb(222, 24, 61);
    transition: 0.3s linear;
}

/* Alt Bar */

.to-768{
    width: 80%;
    display: none;
}

.alt-activate-button{
    width: 93%;
}

.alt-activate-button i{
    margin: 5px 0px 0px 0px;
    color: white;
    font-size: 20px;
    float: right;
}

.alt-deactivate-button{
    width: 93%;
}

.alt-deactivate-button i{
    margin: 5px 0px 0px 0px;
    color: white;
    font-size: 22px;
    float: right;
}

.alt-activate-button i:hover{
    cursor: pointer;
}

.alt-deactivate-button i:hover{
    cursor: pointer;
}

.alt{
    width: 100%;
    z-index: 100;
    position: absolute;
    margin: 100px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.alt-part-1{
    padding: 12px 0px 12px 0px;
    border-bottom: 1px solid rgb(192, 192, 192);
}

.alt-part-4{
    padding: 12px 0px 12px 0px;
    border-top: 1px solid rgb(192, 192, 192);
}

.alt-part-2{
    padding: 12px 0px 12px 0px;
}

.alt-part-3{
    border-top: 1px solid rgb(192, 192, 192);
    padding: 12px 0px 12px 0px;
}

.alt a{
    text-align: left;
    width: 100%;
    text-decoration: none;
}

.alt-part{
    font-size: 17px;
    width: 100%;
    padding: 0px 0px 0px 20px;
    box-sizing: border-box;
    color: rgb(44, 44, 44);
}

.alt-part-active{
    color: rgb(222, 24, 61);
    transition: 0.1s linear;
}

.alt-part-passive{
    color: rgb(44, 44, 44);
    transition: 0.1s linear;
}

.display-none{
    display: none;
}

/* Body */

.top{
    margin: 110px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-head{
    font-size: 14px;
    font-weight: bold;
    color: rgb(15, 23, 41);
    margin: 0px 0px 20px 0px;
}

.top-body{
    color: rgb(15, 23, 41);
    font-weight: bold;
    font-size: 60px;
}

.line{
    margin: 30px 0px 55px 0px;
    width: 100px;
    height: 3px;
    background-color: rgb(222, 24, 61);
}

.photos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1260px;
    height: auto;
    gap: 30px;
    margin: 0px 0px -170px 0px;
}

.ph{
    width: 350px;
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
}

.photo-1{
    border-radius: 10px;
    width: 350px;
    height: auto;
}

.photo-description-1{
    display: flex;
    flex-direction: column;
    width: 330px;
    color: rgb(15, 23, 41);
    padding: 0px 7px 0px 7px;
}

.photo-description-1 h1{
    margin: 20px 0px 10px 0px;
}

.photo-description-1 p{
    font-size: 20px;
    line-height: 30px;
}

.photo-2{
    border-radius: 10px;
    width: 350px;
    height: auto;
}

.photo-description-2{
    display: flex;
    flex-direction: column;
    width: 330px;
    color: rgb(15, 23, 41);
    padding: 0px 7px 0px 7px;
}

.photo-description-2 h1{
    margin: 20px 0px 10px 0px;
}

.photo-description-2 p{
    font-size: 20px;
    line-height: 30px;
}

.photo-3{
    border-radius: 10px;
    width: 350px;
    height: auto;
}

.photo-description-3{
    display: flex;
    flex-direction: column;
    width: 330px;
    color: rgb(15, 23, 41);
    padding: 0px 7px 0px 7px;
}

.photo-description-3 h1{
    margin: 20px 0px 10px 0px;
}

.photo-description-3 p{
    font-size: 20px;
    line-height: 30px;
}

/* Body About */

#all-about{
    width: 100%;
    height: 850px;
    margin: 250px 0px 0px 0px;
    background-color: rgb(252, 235, 238);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(15, 23, 41);
}

.about{
    width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.about-ph{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.photo{
    border-radius: 7px;
    width: 400px;
    height: auto;
}

.name h1{
    margin: 25px 0px 10px 0px;
    font-size: 35px;
}

.name p{
    margin: 0px 0px 5px 0px;
    font-size: 20px;
    font-weight: bold;
}

.about-content{
    display: flex;
    flex-direction: column;
    width: 600px;
}

.about-content h1{
    width: 600px;
    margin: 40px 0px 30px 0px;
}

.about-content p{
    width: 600px;
    font-size: 18px;
    margin: 0px 0px 25px 0px;
}

.about-links{
    gap: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.about-links a{
    text-decoration: none;
}

.link-1{
    width: 140px;
    text-align: center;
    font-size: 18px;
    padding: 15px 40px;
    border-radius: 7px;
    background-color: rgb(221, 24, 61);
    color: white;
}

.link-1-active{
    background-color: rgb(196, 22, 54);
    transition: 0.15s linear;
}

.link-1-passive{
    background-color: rgb(222, 24, 61);
    transition: 0.15s linear;
}

.link-2{
    width: 140px;
    text-align: center;
    font-size: 18px;
    padding: 14px 39px;
    border-radius: 7px;
    outline: 2px solid black;
    color: black;
}

.link-2-active{
    outline: 2px solid rgb(196, 22, 54);
    background-color: rgb(196, 22, 54);
    color: white;
    transition: 0.15s linear;
}

.link-2-passive{
    color: black;
    outline: 2px solid black;
    transition: 0.15s linear;
}

/* Body Call */

#all-action-call{
    width: 100%;
    height: 535px;
    background-image:
    linear-gradient(rgba(15, 0, 0, 0.4),rgba(15, 0, 0, 0.4)),
    url(pexels-freestockpro-1172207.jpg);
    background-size: cover;
    background-position: 50% 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.action-call{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
}

.call-top{
    margin: 0px 0px 20px 0px;
    color: white;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
}

.call-body{
    margin: 0px 0px 30px 0px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

#all-action-call a{
    color: white;
    text-decoration: none;
}

.get-in-touch{
    border-radius: 7px;
    padding: 17px 44px;
    font-size: 19px;
    outline: 2px solid white;
}

.get-in-touch-active{
    outline: 2px solid rgb(196, 22, 54);
    background-color: rgb(196, 22, 54);
    transition: 0.2s linear;
}

.get-in-touch-passive{
    color: white;
    outline: 2px solid white;
    transition: 0.2s linear;
}

/* Footer */

#foot a{
    color: black;
    text-decoration: none;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1200px;
}

.links{
    float: left;
    width: 40%;
}

.alt-links{
    display: flex;
}

.foot-links{
    padding: 20px 10px;
}

.foot-logo{
    width: 20%;
}

.foot-copyright{
    width: 40%;
}

.alt-foot-copyright{
    float: right;
}