/*? Width: 992px to 1280px */  /* Done */

/** 1200px -- 90% **/

@media only screen and (max-width: 1300px) and (min-width: 992px){
    .navbar{
        width: 90%;
    }
    .navtext{
        width: 69%;
    }
    .head-write{
        font-size: 60px;
    }
    .get-started{
        padding: 15px 36px;
        font-size: 17px;
    }
    .top-body{
        font-size: 50px;
    }
    .photos{
        width: 92%;
    }
    .ph{
        width: 29%;
    }
    .photo-1, .photo-2, .photo-3{
        border-radius: 10px;
        width: 100%;
        height: auto;
    }
    .photo-description-1, .photo-description-2, .photo-description-3{
        width: 100%;
        height: auto;
    }
    .photo-description-1 h1, .photo-description-2 h1, .photo-description-3 h1{
        font-size: 30px;
    }
    .photo-description-1 p, .photo-description-2 p, .photo-description-3 p{
        font-size: 19px;
    }
    #all-about{
        height: auto;
    }
    .about{
        width: 90%;
        gap: 4%;
        margin: 40px 0px 40px 0px;
    }
    .about-ph{
        width: 38%;
    }
    .name{
        width: 100%;
    }
    .name h1{
        font-size: 28px;
    }
    .name p{
        font-size: 19px;
    }
    .about-content{
        width: 58%;
    }
    .about-content h1{
        width: 100%;
        font-size: 28px;
    } 
    .about-content p{
        width: 100%;
        font-size: 17px;
    }
    .photo{
        width: 100%;
        height: auto;
    }
    .action-call{
        width: 70%;
    }
    .call-top{
        font-size: 60px;
    }
    .call-body{
        font-size: 26px;
    }
    .get-in-touch{
        padding: 15px 40px;
        font-size: 18px;
    }
    .footer{
        width: 90%;
    }
}

/*? Width: 768px to 992px */ /* Done */

@media only screen and (max-width: 992px) and (min-width: 768px){
    .navbar{
        width: 90%;
    }
    .navtext{
        width: 69%;
    }
    .head-write{
        font-size: 45px;
    }
    .get-started{
        padding: 12px 32px;
        font-size: 16px;
    }
    .top-head{
        font-size: 13px;
    }
    .top-body{
        font-size: 40px;
    }
    .line{
        width: 80px;
    }
    .photos{
        width: 92%;
    }
    .ph{
        width: 29%;
    }
    .photo-1, .photo-2, .photo-3{
        border-radius: 10px;
        width: 100%;
        height: auto;
    }
    .photo-description-1, .photo-description-2, .photo-description-3{
        width: 100%;
        height: auto;
    }
    .photo-description-1 h1, .photo-description-2 h1, .photo-description-3 h1{
        font-size: 24px;
    }
    .photo-description-1 p, .photo-description-2 p, .photo-description-3 p{
        font-size: 17px;
    }
    #all-about{
        height: auto;
    }
    .about{
        width: 90%;
        gap: 4%;
        margin: 40px 0px 40px 0px;
    }
    .about-ph{
        width: 38%;
    }
    .name{
        width: 100%;
    }
    .name h1{
        font-size: 26px;
    }
    .name p{
        font-size: 17px;
    }
    .about-content{
        width: 58%;
    }
    .about-content h1{
        width: 100%;
        font-size: 24px;
    } 
    .about-content p{
        width: 100%;
        font-size: 16px;
    }
    .photo{
        width: 100%;
        height: auto;
    }
    .about-links{
        gap: 10px;
    }
    .link-1{
        width: 116px;
        font-size: 16px;
    }
    .link-2{
        width: 116px;
        font-size: 16px;
    }
    #all-action-call{
        height: 470px;
    }
    .action-call{
        width: 80%;
    }
    .call-top{
        font-size: 50px;
    }
    .call-body{
        font-size: 22px;
    }
    .get-in-touch{
        padding: 14px 36px;
        font-size: 17px;
    }
    #foot{
        height: 300px;
    }
    .footer{
        display: flex;
        flex-direction: column;
    }
    .links{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .alt-links{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .foot-links{
        padding: 20px 20px;
    }
    .foot-logo{
        margin: 50px 0px 40px 0px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 25px;
    }
    .foot-copyright{
        font-size: 19px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}

/*? Width: to 768px */ /* Done */

@media only screen and (max-width: 768px){
    .to-768{
        display: block;
        width: 80%;
        float: right;
    }
    .left{
        width: 20%;
    }
    .right{
        display: none;
    }
    .navbar{
        width: 98%;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 20px 0px 0px 0px;
    }
    .navtext{
        width: 69%;
    }
    .head-write{
        font-size: 40px;
        margin: 0px 0px 40px 0px;
    }
    .get-started{
        padding: 12px 32px;
        font-size: 16px;
    }
    .top-head{
        font-size: 13px;
        text-align: center;
    }
    .top-body{
        font-size: 40px;
        text-align: center;
    }
    .line{
        width: 80px;
    }
    .photos{
        width: 92%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .ph{
        width: 90%;
    }
    .photo-1, .photo-2, .photo-3{
        border-radius: 10px;
        width: 100%;
        height: auto;
    }
    .photo-description-1, .photo-description-2, .photo-description-3{
        width: 100%;
        height: auto;
    }
    .photo-description-1 h1, .photo-description-2 h1, .photo-description-3 h1{
        font-size: 24px;
    }
    .photo-description-1 p, .photo-description-2 p, .photo-description-3 p{
        font-size: 17px;
    }
    #all-about{
        height: auto;
    }
    .about{
        width: 90%;
        gap: 4%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 40px 0px 40px 0px;
    }
    .about-ph{
        width: 90%;
    }
    .name{
        display: none;
        width: 100%;
    }
    .about-content{
        width: 90%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .welcome{
        display: none;
    }
    .about-content h1{
        width: 100%;
        font-size: 24px;
    } 
    .about-content p{
        width: 100%;
        font-size: 16px;
    }
    .photo{
        width: 100%;
        height: auto;
    }
    .about-links{
        gap: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .link-1{
        width: 116px;
        font-size: 16px;
    }
    .link-2{
        width: 116px;
        font-size: 16px;
    }
    #all-action-call{
        height: 470px;
    }
    .action-call{
        width: 80%;
    }
    .call-top{
        font-size: 40px;
    }
    .call-body{
        margin: 20px 0px 70px 0px;
        font-size: 18px;
    }
    .get-in-touch{
        padding: 10px 40px;
        font-size: 18px;
    }
    #foot{
        height: 300px;
    }
    .footer{
        display: flex;
        flex-direction: column;
    }
    .links{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .alt-links{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .foot-links{
        padding: 20px 20px;
    }
    .foot-logo{
        width: 100%;
        margin: 50px 0px 40px 0px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 25px;
    }
    .foot-copyright{
        width: 100%;
        font-size: 19px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

}
